body{
	background: #333333;
	font-family: 'Anton', sans-serif;
}



input.x{
	width:90%;
	text-align:center;
	margin-left:5%;
	color:grey;
	
	
}
.y{
	font-size:150%;
	text-align:center;
}


#wynik{
	margin-left:45%;
	font-size:200%;
	color:black;
}

.opis{
	font-size:120%;
	text-align:center;
	
}

#ramka{
	background: #333333;
	width:90%;
	margin-left:5%;
	border:1px dotted #aaaaaa;
	color:#eeeeee;
	height:85%;
}
